<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1 class="entete">Déménagement de particuliers</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right entete">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Déménagement de particuliers</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->

<section class="demenagement">
  <h2>Vous allez déménager ?</h2>
  <p><b>Notre expérience et notre savoir-faire n'est plus à prouver.</b><br><br>Nous allons prendre grand soin de votre
    patrimoine mobilier et de vos effets personnels. Pour cela, un technicien se déplacera à votre domicile afin de
    pouvoir évaluer le volume à déménager.</p>
  <p><b>Visite et devis gratuit. Demander une estimation par téléphone au 01 76 54 47 58</b></p>
</section>
<section class="demenagement-detail">
  <div class="row-fluid">
    <div class="span6"></div>
    <div class="span6">
      <p>Nous mettrons à votre disposition le temps de votre déménagement des véhicules appropriés et du personnel
        qualifié. Nos véhicules sont équipés de barre d'arimage, de capiton et de hayon élévateur. Nous disposons de
        tout le matériel nécessaire convenant à votre déménagement (valise vaisselle, caisse plastique, penderie, carton
        à verre et matériel couvrant votre mobilier (couverture et bulle pack)).</p>
      <p>Notre personnel spécialisé prendra en charge le cas nécessitant le démontage et remontage de votre mobilier.
      </p>
      <p><b>Nous intervenons sur toute distance.</b></p>
      <p>3 formules à votre disposition selon le besoin de votre déménagement à déterminer avec le technicien le jour de
        sa visite.</p>
    </div>
  </div>
</section>


<section class="demenagement-formule">
  <div class="row-fluid">
    <div class="span7">
      <h2>Nos formules</h2>
      <p>Il est inclus pour chaque formule la fourniture de tout le matériel nécessaire à votre déménagement (carton,
        scotch, papier bulle...).</p>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed formule-color" data-toggle="collapse" data-parent="#accordion2"
              href="#collapseOne">
              Formule Eco
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <h4>A NOTRE CHARGE (au départ)</h4>
              <p>Nous vous livrerons les cartons et adhésifs ainsi que du papier pour votre emballage fragile à une date
                conjointement fixée.</p>
              <p>Une équipe de déménageurs organisées mettrons tout en oeuvre pour la bonne exécution de votre
                déménagement.</p>
              <p>Les vêtements suspendus seront mis en penderies.
                <br />
                La protection du mobilier, matelas emballé sous housse plastique.</p>
              <p>Le chargement du véhicule est fait dans un camion spécialement adapté (capiton, barre d'arrimage, etc.)
                roulant sous coussin d'air.</p>
              <h4>A L'ARRIVEE</h4>
              <p>Remise en place des cartons et mobiliers à leurs nouveaux emplacements dans chaque pièce correspondante
                et remise en place des vêtements suspendus.</p>
              <h4>A VOTRE CHARGE (au départ)</h4>
              <p>Démontage des appliques, lustres et accessoires fixés aux murs, débranchements des sorties d'eaux
                (lave-vaisselles, lave-linge), déconnexions des appareils électriques (four, plaque, etc.).
                <br />
                Emballage de vos effets personnel (linge, livres, CD, DVD, casseroles, aliments, etc.), tous vos objets
                non fragiles.
                <br />
                L'emballage des objets fragiles (vaisselles, bibelots, tableaux, etc.) seront réalisés par vos soins.
                <br />
                Le démontage (armoire, living, buffet) le necessitant seront démonter par vos soins.
              </p>
              <h4>A L'ARRIVEE</h4>
              <p>Le suivi des dispositions du mobiliers (bien indiqué aux déménageurs le positionnement de celui-ci).
                <br />
                Déballage de tous les objets fragiles et non fragile ainsi que le remontage du mobilier démonter.</p>
              <h5>Nous n'avons plus qu'à vous souhaiter un excellent déménagement.</h5>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed formule-color" data-toggle="collapse" data-parent="#accordion2"
              href="#collapseThree">
              Formule Confort
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <h4>A NOTRE CHARGE (au départ)</h4>
              <p>Nous vous livrerons les cartons et adhésifs ainsi que du papier pour votre emballage fragile à une date
                conjointement fixée.</p>
              <p>Une équipe de déménageurs organisées mettrons tout en oeuvre pour la bonne exécution de votre
                déménagement.</p>
              <p>L'emballage des objets fragiles (vaisselles, bibelots, tableaux, etc.) seront réaliser par nos soins.
                <br />
                Les vêtements suspendus seront mis en penderies.
                <br />
                Les matelats seront protégés par des housses plastiques.
                <br />
                La protection du mobilier et le démontage (armoire, living, buffet) le nécessitant seront démonter.</p>
              <p>Le chargement du véhicule est fait dans un camion spécialement adapté (capiton, barre d'arrimage, etc.)
                roulant sous coussin d'air.</p>
              <h4>A L'ARRIVEE</h4>
              <p>Remise en place des cartons et mobiliers à leurs nouveaux emplacements dans chaque pièce correspondante
                et remise en place des vêtements suspendus.
                <br />
                Déballage de tous les objets fragiles et non fragile ainsi que le remontage du mobilier démonter.</p>
              <h4>A VOTRE CHARGE (au départ)</h4>
              <p>Démontage des appliques, lustres et accessoires fixés aux murs, débranchements des sorties d'eaux
                (lave-vaisselles, lave-linge), déconnexions des appareils électriques (four, plaque, etc.).
                <br />
                Emballage de vos effets personnel (linge, livres, CD, DVD, casseroles, aliments, etc.), tous vos objets
                non fragiles.
              </p>
              <h4>A L'ARRIVEE</h4>
              <p>Le suivi des dispositions du mobiliers (bien indiqué aux déménageurs le positionnement de celui-ci).
                <br />
                De contrôler votre déballage d'objet fragile ainsi que le remontage du mobilier.</p>
              <h5>Nous n'avons plus qu'à vous souhaiter un excellent déménagement.</h5>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed formule-color" data-toggle="collapse" data-parent="#accordion2"
              href="#collapseFour">
              Formule Luxe
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <h4>A NOTRE CHARGE (au départ)</h4>
              <p>Une équipe de déménageurs organisées mettrons tout en oeuvre pour la bonne exécution de votre
                déménagement.</p>
              <p>L'emballage de tous vos effets personnel (linge, livres, CD, DVD, casseroles, aliments, etc.)
                <br />
                Tous vos objets non fragiles seront emballés par nos déménageurs.
                <br />
                L'emballage des objets fragiles (vaisselles, bibelots, tableaux, etc.) seront réalisés par nos soins.
                <br />
                Les vêtements suspendus seront mis en penderies.
                <br />
                Les matelats seront protégés par des housses plastiques.
                <br />
                La protection du mobilier et le démontage (armoire, living, buffet) le nécessitant seront démonter.</p>
              <p>Le chargement du véhicule est fait dans un camion spécialement adapté (capiton, barre d'arrimage, etc.)
                roulant sous coussin d'air.</p>
              <h4>A L'ARRIVEE</h4>
              <p>Remise en place des cartons et mobiliers à leurs nouveaux emplacements dans chaque pièce correspondante
                et remise en place des vêtements suspendus.
                <br />
                Déballage de tous les objets fragiles et non fragile ainsi que le remontage du mobilier démonter.</p>
              <h4>A VOTRE CHARGE (au départ)</h4>
              <p>Démontage des appliques, lustres et accessoires fixés aux murs, débranchements des sorties d'eaux
                (lave-vaisselles, lave-linge), déconnexions des appareils électriques (four, plaque, etc.).</p>
              <h4>A L'ARRIVEE</h4>
              <p>Le suivi des dispositions du mobiliers (bien indiqué aux déménageurs le positionnement de celui-ci).
                <br />
                De contrôler votre déballage d'objet fragile ainsi que le remontage du mobilier.
                <br />
                Il ne vous reste simplement le déballage de vos cartons qui préalablement aura été dispatché dans chaque
                pièce correspondante.</p>
              <h5>Nous n'avons plus qu'à vous souhaiter un excellent déménagement.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span5">
      <img src='assets/images/particuliers/2.jpg' />
    </div>
  </div>
</section>
<section class="main-info">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <h4>Vous souhaitez une estimation pour votre déménagement ?</h4>
        <p class="no-margin pad">Demander une estimation gratuite par téléphone au 01 76 54 47 58 ou via notre
          formulaire en cliquant sur le lien.</p>
      </div>
      <div class="span3">
        <a class="btn btn-success btn-large pull-right" style="background-color:#d6446b" routerLink="/devis">Demander un
          devis</a>
      </div>
    </div>
  </div>
</section>
