    <!--Header-->
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="pull-left logo" routerLink="/"><img src="assets/images/logo.png" alt="logo demyfil"></a>
          <a class="btn btn-navbar nav-icon" data-toggle="collapse" data-target=".nav-collapse">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a routerLink="/">Accueil</a></li>
              <li><a routerLink="/societe">Qui sommes-nous</a></li>
              <li><a routerLink="/transferts">Professionnels</a></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos prestations <i class="fa fa-angle-down"
                    aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/particuliers">Déménagement de particuliers</a></li>
                  <li><a routerLink="/transports">Demyfil Transport</a></li>
                  <li><a routerLink="/garde-meuble">Demyfil garde-meuble</a></li>
                  <li><a routerLink="/qualite">Qualité</a></li>
                </ul>
              </li> -->
              <li class="devis"><a routerLink="/devis">Devis en ligne</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <li class="appel"><a href="tel:01 76 54 47 58">Rappel immédiat</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </header>
    <!-- /header -->
