<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Devis en ligne</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Devis en ligne</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->

<section id="registration-page" class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="center soc">
        <h2>Demande de devis gratuit</h2>
      </div>
      <form [formGroup]="devisForm" (ngSubmit)="onSubmit()" class="center">
        <fieldset class="registration-form">
          <div class="span6">

            <div class="control-group">
              <!-- Entreprise -->
              <div class="controls">
                <input type="text" id="entreprise" formControlName="entreprise" name="entreprise"
                  placeholder="Entreprise" class="input-xlarge">
              </div>
            </div>

            <div class="control-group">
              <!-- Adresse -->
              <div class="controls">
                <input type="text" id="adresse" formControlName="address" name="adresse" placeholder="Adresse"
                  class="input-xlarge">
              </div>
            </div>

            <div class="control-group">
              <!-- CP -->
              <div class="controls">
                <input type="text" id="cp" formControlName="cp" name="cp" placeholder="Code postal"
                  class="input-xlarge">
              </div>
            </div>

            <div class="control-group">
              <!-- Ville -->
              <div class="controls">
                <input type="text" id="ville" formControlName="country" name="ville" placeholder="Ville"
                  class="input-xlarge">
              </div>
            </div>

            <div class="control-group">
              <!-- Nom -->
              <div class="controls">
                <input type="text" id="nom" formControlName="name" name="nom" placeholder="Nom du contact"
                  class="input-xlarge">
              </div>
            </div>

          </div>

          <div class="span6">
            <div class="control-group">
              <!-- Email-->
              <div class="controls">
                <input type="email" id="email" formControlName="email" name="email" placeholder="Email"
                  class="input-xlarge">
              </div>
            </div>

            <div class="control-group">
              <!-- Téléphone -->
              <div class="controls">
                <input type="text" id="telephone" formControlName="phone" name="telephone" placeholder="Téléphone"
                  class="input-xlarge">
              </div>
            </div>

            <div class="control-group">
              <!-- Type Entreprise -->
              <div class="controls">
                <input type="text" id="typeEntreprise" formControlName="typeEntreprise" name="typeEntreprise"
                  placeholder="Entreprise à déménager ou transférer" class="input-xlarge">
              </div>
            </div>

            <div class="control-group">
              <!-- Message -->
              <div class="controls">
                <textarea name="detail" id="detail" formControlName="detail" required="required"
                  class="input-block-level" rows="7" placeholder="Détail de votre demande"></textarea>
              </div>
            </div>

            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-primary btn-xlarge btn-block " style="width: 100%; padding: 10px;">Demande de
                  rendez-vous</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
<!-- /#registration-page -->
