    <!--Slider-->
    <section id="slide-show">
      <div id="slider" class="sl-slider-wrapper">
 
         <!--Slider Items-->    
         <div class="sl-slider">
             <!--Slider Item1-->
             <div class="sl-slide item1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                 <div class="sl-slide-inner">
                     <div class="container">
                         <img class="pull-right" src="" alt="" />
                         <h2>Transfert d'entreprise</h2>
                         <h3 class="gap">sur toute la France</h3>
                         <a class="btn btn-large btn-transparent" href="transfert.php">Plus d'infos</a>
                     </div>
                 </div>
             </div>
             <!--/Slider Item1-->
 
             <!--Slider Item2-->
             <div class="sl-slide item2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                 <div class="sl-slide-inner">
                     <div class="container">
                         <h2>Demyfil Déménagements vous garantie<br/>une qualité de service sur toute la France</h2>
                         <h3 class="gap">Paris, Ile de France et Province</h3>
                         <a class="btn btn-large btn-transparent" href="demenagement.php">Plus d'infos</a>
                     </div>
                 </div>
             </div>
             <!--Slider Item2-->
 
             <!--Slider Item3-->
             <div class="sl-slide item3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                 <div class="sl-slide-inner">
                    <div class="container">
                     <h2>Demander une estimation gratuite</h2>
                     <h3 class="gap">Notre équipe est à votre écoute</h3>
                     <a class="btn btn-large btn-transparent" href="devis.php">Plus d'infos</a>
                 </div>
             </div>
         </div>
         <!--Slider Item3-->
 
     </div>
     <!--/Slider Items-->
 
     <!--Slider Next Prev button-->
     <nav id="nav-arrows" class="nav-arrows">
         <span class="nav-arrow-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
         <span class="nav-arrow-next"><i class="fa fa-angle-right" aria-hidden="true"></i></span> 
     </nav>
     <!--/Slider Next Prev button-->
 
 </div>
 <!-- /slider-wrapper -->           
 </section>
 <!--/Slider-->