.box-img {
  // margin-top: 82px;
  .img-slide {
    // height: 70vh;
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    top: 25%;
  }

  .box-img {
    margin-top: 0px;

    .img-slide {
      // height: 40vh;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 400px) {

  .item {
    .box-img {
      margin-top: 0px;

      .img-slide {
        height: 30vh;
        background-size: cover;
      }
    }

    .container {
      top: 30%;
      left: 20px;
    }

    h2 {
      font-size: 20px;
      line-height: 10px;
    }

    h3 {
      font-size: 15px;
      line-height: 10px;
      margin-bottom: 20px;
    }

    .btn.btn-transparent {
      border: 2px solid white;
      padding: 5px 10px;
      font-size: 12px;
    }
  }

}
