<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Transfert d'entreprise</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Transfert d'entreprise </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->

<section class="about">
  <h2>Votre transfert vers votre nouveau site va bientôt avoir lieu ?</h2>
  <h4></h4><br />
  <p>Un déménagement c'est capital. Les enjeux se nomment "productivité de l'entreprise", "conservation des biens" et
    "confort du personnel".</p>
</section>

<section class="transfert-key">
  <div class="row-fluid">
    <div class="span7">
      <h2>La clef de la reussite</h2>
      <ul>
        <li>une implication forte de la direction générale;</li>
        <li>Une attribution des responsabilités claire et déterminée très en amont du projet;</li>
        <li>une implication de toutes les personnes concernées;</li>
        <li>une méthodologie forte et élaborée, intégrant suffisamment de souplesse pour donner à chacun ce dont il a
          besoin;</li>
        <li>une mise en oeuvre des opérations très rigoureuse;</li>
        <li>un plan de communication fort et permanent;</li>
        <li>un accompagnement permanent, avant, pendant et surtout après le transfert de toutes les personnes devant
          vivre l'opération.</li>
      </ul>
    </div>
    <div class="span5">
      <img src="assets/images/transfert/6.jpg" />
    </div>
  </div>
</section>

<section class="transfert-qualif">
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/transfert/1.jpg" />
      <h2>Les qualifications de notre personnel</h2>
      <ul>
        <li>le Coordinateur</li>
        <li>le Chef d’équipe</li>
        <li>le Chauffeur</li>
        <li>le Déménageur</li>
        <li>le Technicien informatique</li>
      </ul>
    </div>
    <div class="span3">
      <img src="assets/images/transfert/3.jpg" />
      <h2>Etude d'implantation</h2>
      <p>Qu'il s'agisse d'un nouveau site ou d'un déménagement interne, l'étude d'implantation devra être réalisée en
        liaison avec les départements concernés et en fonction des besoins.</p>
    </div>
    <div class="span3">
      <img src="assets/images/transfert/4.jpg" />
      <h2>Inventaire</h2>
      <p>Plusieurs possibilités, depuis le relevé manuel bureau par bureau, en passant par l'utilisation d'étiquette ou
        de logiciels informatiques.</p>
    </div>
    <div class="span3">
      <img src="assets/images/transfert/2.jpg" />
      <h2>Repérage</h2>
      <p>Il s'effectue classiquement au moyen d'étiquettes affectées d'un code couleur symbolisant l'immeuble ou le
        plateau dans lequel va se trouver le meuble. Chaque meuble se voit ensuite affecter un code qui, repris sur le
        plan, permettra aux déménageurs d'assurer l'exactitude de la mise en place.</p>
    </div>
  </div>
</section>

<section class="transfert-prev">
  <div class="row-fluid">
    <div class="span9">
      <h2>Ce qu'il faut prevoir</h2>
      <h3>Qui emballe quoi ?</h3>
      <p>A l'issue du besoin, une équipe spécifique peut prendre en charge l'emballage de vos dossiers ou des documents
        confidentiels (matériel approprié, dolly étagère et caisses plombées).</p>
      <h3>Les particularités de l'informatique et de la bureautique</h3>
      <p>Pour chaque besoin du transfert, nous pouvons intégrer une équipe spécialisée dans la déconnexion et connexion
        de vos postes informatiques. A savoir que nous prevoyons l'emballage spécifique de chaque poste informatique
        ainsi que leur transport.</p>
      <h3>Autres particularités</h3>
      <ul>
        <li>Transfert des copieurs</li>
        <li>Coffre-fort</li>
      </ul>
    </div>
    <div class="span3">
      <h2>Planning</h2>
      <ul>
        <li>Protection des sites Départ/Arrivée</li>
        <li>Livraison des emballages</li>
        <li>Emballage et conditionnement</li>
        <li>Repérage</li>
        <li>Formalités</li>
        <li>Départ</li>
        <li>Arrivée</li>
        <li>Mise en place des éléments et cartons</li>
        <li>Réception fin de transfert</li>
      </ul>
    </div>
  </div>
</section>

<section class="about-flotte">
  <h2>Moyens matériels</h2>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/materiel/armoire.jpg" alt="">
      <p class="truck">Armoire roulante</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/roll.jpg" alt="">
      <p class="truck">Roll standard</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/caisse.jpg" alt="">
      <p class="truck">Caisse plastique</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/bac.jpg" alt="">
      <p class="truck">Bac plastique</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/materiel/carton.jpg" alt="">
      <p class="truck">Carton standard (550 X 350 X 300)</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/carton-info.jpg" alt="">
      <p class="truck">Carton informatique (526 X 425 X 470)</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/carton verre.jpg" alt="">
      <p class="truck">Camion verre</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/corniere.jpg" alt="">
      <p class="truck">Cornière de protection</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/materiel/protection.jpg" alt="">
      <p class="truck">Plaque de protection sol</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/Pal Bac.jpg" alt="">
      <p class="truck">Pal-bac</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/flight-case.jpg" alt="">
      <p class="truck">Flight case à roulette</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/chariot.jpg" alt="">
      <p class="truck">chariot à roulette</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/materiel/rouleau.jpg" alt="">
      <p class="truck">Rouleaux de films</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/bullpack.jpg" alt="">
      <p class="truck">Bull pack</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/papier.jpg" alt="">
      <p class="truck">Papier blanc</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/couverture.jpg" alt="">
      <p class="truck">Couverture de protection</p>
    </div>
  </div>
</section>

<section class="transfert-ass-env" style="background:url('assets/images/transfert/5.jpg')">
  <div class="row-fluid">
    <div class="span6">
      <h2>Assurance et responsabilité</h2>
      <p>Ce point devra être examiné particulièrement en fonction des valeurs à transporter. Le cas échéant, il
        conviendra de souscrire une assurance complémentaire dite "ad valorem" qui donne une valeur exacte de
        remplacement pour du matériel très couteux.</p>
    </div>
    <div class="span6">
      <h2>Environnement</h2>
      <p>A l'issue d'une opération de transfert, il est fréquent que du mobilier ou des équipements subsistent sur les
        sites déménagés. Les documents papiers peuvent faire l'objet d'une procédure de destruction ou de recyclage.</p>
    </div>
  </div>
</section>

<section class="main-info">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <h4>Vous souhaitez une estimation pour un transfert d'entreprise ?</h4>
        <p class="no-margin pad">Demander une estimation gratuite par téléphone au 01.76.54.47.58 ou via notre
          formulaire en cliquant sur le lien.</p>
      </div>
      <div class="span3">
        <a class="btn btn-success btn-large pull-right" style="background-color:#d6446b" href="devis.php">Demander un
          devis</a>
      </div>
    </div>
  </div>
</section>
