<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Déménagements et transfert d’entreprises</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Déménagements et transfert d’entreprises</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->

<section class="about">
  <h2>DEMYFIL est spécialisée dans le transfert d’entreprises</h2>
</section>

<section class="transfert-key">
  <div class="row-fluid">
    <div class="span7">
      <h2>DEMYFIL c'est aussi :</h2>
      <ul style="margin-left: 2em;">
        <li>L'emballage de vos dossiers</li>
        <li>La mise en flight caisses du matériel fragile</li>
        <li>Démontage et remontage du mobilier</li>
        <li>La prise en charge de l’informatique par un personnel qualifié (Déconnexion, emballage, et reconnexion)</li>
        <li>Le transfert des copieurs</li>
        <li>Le transfert des coffres forts</li>
        <li>Le vidage des sites</li>
        <li>Le transport pour destruction ou recyclage (documents, archives, mobilier etc.)</li>
      </ul>
    </div>
    <div class="span5">
      <img src="assets/images/transfert/6.jpg" />
    </div>
  </div>
</section>

<section class="transfert-qualif">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span5">
        <img src="assets/images/transfert/3.jpg" />
        <h2>
          Visite et relevé de notre collaborateur :<br>
          Devis sous 24H
        </h2>
      </div>
      <div class="span5">
        <img src="assets/images/transfert/4.jpg" />
        <h2>Étiquetage et repérage par des codes</h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span5">
        <img src="assets/images/transfert/1.jpg" />
        <h2>Mise à votre disposition d’une équipe de professionnels avec un interlocuteur dédié</h2>
      </div>
      <div class="span5">
        <img src="assets/images/transfert/2.jpg" />
        <h2>Étude d’implantation avec le respect de vos impératifs</h2>
      </div>
    </div>
  </div>
</section>

<section class="transfert-prev">
  <div class="row-fluid">
    <div class="span12">
      <h2>Déroulement et planning</h2>
      <ul style="margin-left: 2em;">
        <li>Visite des sites</li>
        <li>Devis avec détails de l’organisation prévue pour le transfert en tenant compte des contraintes</li>
        <li>Livraison des emballages</li>
        <li>Protection des sites Départ/Arrivée</li>
        <li>Emballage, conditionnement, étiquetage et démontage</li>
        <li>Mise en place sur le nouveau site des éléments et cartons</li>
        <li>Assistance fin de transfert, réception de chantier</li>
      </ul>
    </div>
  </div>
</section>

<section class="about-flotte">
  <h2>Moyens matériels</h2>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/materiel/armoire.jpg" alt="">
      <p class="truck">Armoire roulante</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/roll.jpg" alt="">
      <p class="truck">Roll standard</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/caisse.jpg" alt="">
      <p class="truck">Caisse plastique</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/bac.jpg" alt="">
      <p class="truck">Bac plastique</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/materiel/carton.jpg" alt="">
      <p class="truck">Carton standard (550 X 350 X 300)</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/carton-info.jpg" alt="">
      <p class="truck">Carton informatique (526 X 425 X 470)</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/carton verre.jpg" alt="">
      <p class="truck">Camion verre</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/corniere.jpg" alt="">
      <p class="truck">Cornière de protection</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/materiel/protection.jpg" alt="">
      <p class="truck">Plaque de protection sol</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/Pal Bac.jpg" alt="">
      <p class="truck">Pal-bac</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/flight-case.jpg" alt="">
      <p class="truck">Flight case à roulette</p>
    </div>
    <div class="span3">
      <img src="assets/images/materiel/chariot.jpg" alt="">
      <p class="truck">chariot à roulette</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span2">
      <img src="assets/images/materiel/rouleau.jpg" alt="">
      <p class="truck">Rouleaux de films</p>
    </div>
    <div class="span2">
      <img src="assets/images/materiel/bullpack.jpg" alt="">
      <p class="truck">Bull pack</p>
    </div>
    <div class="span2">
      <img src="assets/images/materiel/papier.jpg" alt="">
      <p class="truck">Papier blanc</p>
    </div>
    <div class="span2">
      <img src="assets/images/materiel/couverture.jpg" alt="">
      <p class="truck">Couverture de protection</p>
    </div>
    <div class="span2">
      <img src="assets/images/flotte/monte-meuble.jpg" style="width: 240px" alt="">
      <p class="truck">Monte-meuble 30m</p>
    </div>
  </div>
</section>

<section class="transfert-ass-env" style="background:url('assets/images/transfert/5.jpg')">
  <div class="row-fluid">
    <div class="span6">
      <h2>Assurance et responsabilité</h2>
      <p>
        DEMYFIL est assurée pour les détériorations occasionnées lors du déménagement de votre entreprise :<br>
        -	La couverture et l’indemnisation s’appliquent sur le montant de la facture Hors Taxes avec un coefficient de vétusté de 20% par an.<br>
        -	Nous proposons également une couverture AD Valorem : Le prix est calculé sur la base de 0,60% de la valeur des biens déménagés sur la valeur HT avec un minimum de perception de 25 € par dossier.        
      </p>
    </div>
    <div class="span6">
      <h2>Environnement</h2>
      <p>Nous participons à la protection de l’environnement.<br>
        DEMYFIL c’est aussi le Vidage, le curage, la mise en destruction et le recyclage de mobilier.<br>
        Partenaire de l’éco organisme VALDOLIA, nous donnons une seconde vie à votre mobilier.
        </p>
    </div>
  </div>
</section>

<section class="main-info">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <h4>Vous souhaitez une estimation pour un transfert d'entreprise ?</h4>
        <p class="no-margin pad">Demander une estimation gratuite par téléphone au 01 76 54 47 58 ou via notre
          formulaire en cliquant sur le lien.</p>
      </div>
      <div class="span3">
        <a class="btn btn-success btn-large pull-right" style="background-color:#d6446b" routerLink="/devis">Demander un
          devis</a>
      </div>
    </div>
  </div>
</section>
