<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Transport de marchandise</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Transport de marchandise</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="transport">
  <div class="row-fluid">
    <div class="span12">
      <h2>Transport de marchandises - Paris, Ile de France et Province</h2>

      <div class="span6">

        <p>Nous sommes des spécialistes du transport de marchandises, notre engagement auprès de nos clients, c'est de
          combiner l'expertise que nous avons du transport de marchandises avec notre connaissance du terrain afin
          d'optimiser les déplacements et les délais pour répondre à vos besoins spécifiques.</p>

        <p>Comme tous les experts du transport de marchandises nous agissons en accordant une grande attention aux plus
          petits détails afin de s'assurer que le transport répond à nos normes élevées.</p>
      </div>
      <div class="span5">
        <img src="assets/images/transport/1.jpg">
      </div>
      <div class="span12">
        <p>Demyfil Déménagement vous garantie un transport en toute sécurité.</p>
        <p>Tous les transports de marchandises sont effectués en utilisant notre flotte de véhicules, exploité par notre
          personnel attentif et qualifié, ils ont tous été formés au plus haut niveau.</p>

        <p>Tous les véhicules de Demyfil Déménagement (poids lourds, camion 20m3, fourgonnettes) sont modernes, propres,
          entièrement équipés et adaptés pour tous transport. Nos véhicules sont parfaitement entretenus et équipés de
          hayon.</p>

        <p>En prenant contact avec Demyfil Déménagement, nous pouvons évaluer le volume des marchandises que vous avez à
          déplacer, les exigences d'emballage, le trajet pour la livraison et discuter de vos besoins, en sorte que nous
          puissions vous fournir la solution la plus appropriée.</p>
      </div>
    </div>
  </div>
</section>
<section class="transport-slog">
  <h2>Demyfil Déménagement vous garantie un transport en toute sécurité.</h2>
</section>


<section class="main-info">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <h4>Vous souhaitez une estimation pour un transport de marchandise ?</h4>
        <p class="no-margin pad">Demander une estimation gratuite par téléphone au 01.76.54.47.58 ou via notre
          formulaire en cliquant sur le lien.</p>
      </div>
      <div class="span3">
        <a class="btn btn-success btn-large pull-right" style="background-color:#d6446b" href="devis.php">Demander un
          devis</a>
      </div>
    </div>
  </div>
</section>
