<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Mentions légales</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Home</a> <span class="divider">/</span></li>
          <li class="active">Mentions légales</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->

<!-- terms-use -->
<section id="terms-use" class="container">
  <h3>Editeur du site internet</h3>
  <p>Demyfil Déménagements<br />
    7 rue Descartes<br />
    95330 DOMONT</p>

  <p>&nbsp;</p>

  <h3>Hébergeur</h3>
  <p>OVH 140, quai du Sartel – 59100 ROUBAIX</p>

  <p>&nbsp;</p>
  <h3>Informatique et libertés</h3>
  <p>Conformément à la loi Informatique et Libertés du 06/01/78, vous disposez d'un droit d'accès, de rectification et
    de retrait des données nominatives vous concernant.<br />
    Si vous souhaitez exercer votre droit d'accès, d'opposition et/ou de rectification, contactez-nous :<br />
    - à l'aide d'un courriel contact@demyfildemenagements.com<br />
    - par courrier :<br />
    <br />
    Demyfil Déménagements<br />
    7 rue Descartes<br />
    95330 DOMONT</p>

  <p>&nbsp;</p>
  <h3>Propriété intellectuelle</h3>
  <p>Toutes les marques citées sur l'ensemble des services de Demyfil Déménagements appartiennent à leurs auteurs
    respectifs. L'ensemble du contenu, hors du point ci-dessus, est la propriété de Demyfil Déménagements.</p>
  <p>&nbsp;</p>

</section>
<!-- /terms-use -->
