<app-slider></app-slider>
<section class="about">
  <h2>Qui sommes-nous ?</h2>
  <p>Demyfil est une société spécialisé dans le transfert d'entreprises et le déménagement de particuliers.</p>
  <a class="btn-custom" routerLink="/societe">En savoir plus</a>
</section>

<!--Services-->
<section id="services">
  <div class="container">
    <div class="center gap" style="margin-bottom: 30px">
      <h3>Vous êtes un</h3>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <div class="media">
          <a class="btn-readmore" routerLink="/particuliers" style="margin-top: 0;">
            <img src="assets/images/particuliers/2.jpg" alt="">
            <div class="media-body">
              <h4 class="media-heading">
                <i class="fa fa-users icon-medium" aria-hidden="true"></i>
                Particulier
              </h4>
              <p>Déménagement Paris, Ile de France et province</p>
            </div>
          </a>
        </div>
      </div>

      <div class="span6">
        <div class="media">
          <a class="btn-readmore" routerLink="/transferts" style="margin-top: 0;">
            <img src="assets/images/transfert/entreprise.jpg" alt="">
            <div class="media-body">
              <h4 class="media-heading">
                <i class="fa fa-exchange icon-medium" aria-hidden="true"></i>
                Professionnel
              </h4>
              <p>Transfert d'entreprises sur toute la France</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
<!--/Services-->

<section id="clients" class="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <h2>Nos références</h2>
          <owl-carousel [options]="refOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let image of refImages;let i = index">
                <img src={{image.image}} />
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-margin">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2617.363716387139!2d2.2763903156795373!3d49.003664979302016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e667e5e2a03721%3A0x9deb021361c6550!2s8%20Rue%20Louis%20Armand%2C%2095600%20Eaubonne!5e0!3m2!1sfr!2sfr!4v1579554463319!5m2!1sfr!2sfr"
    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>