<app-slider></app-slider>
<section class="about">
  <h2>Découvrir Demyfil Déménagements</h2>
  <p>Demyfil Déménagements est une société spécialisé dans le transfert d'entreprise et le déménagement de particulier.
    <br>Nous avons un matériel adapté et moderne afin de répondre à vos besoins.</p>
</section>

<!--Services-->
<section id="services">
  <div class="container">
    <div class="center gap">
      <h3>Nos offres et services</h3>
      <p class="lead">Un panel d'offre et de service pour satisfaire toutes vos demandes !</p>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <div class="media">
          <div class="pull-center marg-bottom center">
            <i class="fa fa-exchange icon-medium" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Transfert d'entreprises</h4>
            <p>Afin que votre personnel reste concentrer sur son propre travail, il est nécessaire de faire appel à une
              entreprise de déménagement qualifiée comme Demyfil Déménagements qui non seulement transporte les meubles
              et autres biens, mais peut aussi fournir le matériel d'emballage et planifier l'ensemble du déménagement.
            </p>
          </div>
          <a class="btn-readmore" href="transfert.php">- EN SAVOIR PLUS -</a>
        </div>
      </div>

      <div class="span4">
        <div class="media">
          <div class="pull-center marg-bottom center">
            <i class="fa fa-users icon-medium" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Déménagement<br>de particuliers</h4>
            <p>Les déménagements devraient être effectués par une entreprise de déménagement compétente et fiable. En
              choisissant notre entreprise de déménagement expérimentée avec nos spécialistes dans le déplacement des
              meubles et des biens, vous pouvez être assuré que vous êtes entre de bonnes mains. </p>
          </div>
          <a class="btn-readmore" href="demenagement.php">- EN SAVOIR PLUS -</a>
        </div>
      </div>

      <div class="span4">
        <div class="media">
          <div class="pull-center marg-bottom center">
            <i class="fa fa-truck icon-medium" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Transport<br>de marchandises</h4>
            <p>Nous sommes des spécialistes du transport de marchandises, notre engagement auprès de nos clients, c'est
              de combiner l'expertise que nous avons du transport de marchandises avec notre connaissance de l'Ile de
              France afin d'optimiser les déplacements et les délais pour répondre à vos besoins spécifiques.</p>
          </div>
          <a class="btn-readmore" href="transport.php">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>

    <div class="marg-bottom"></div>

    <div class="row-fluid">
      <div class="span6">
        <div class="media bloc">
          <div class="pull-center marg-bottom center">
            <i class="fa fa-thumbs-up icon-medium" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Des professionnels du déménagement</h4>
            <p>Entreprise de déménagement et de transport depuis de nombreuses, Demyfil Déménagements met à votre
              disposition toute son expérience et son savoir-faire pour un déménagement en toute simplicité et sans
              risque. Qu'il s'agisse d'un déménagement d'ordre privé ou professionnel, faites appel à Demyfil
              Déménagements pour un déménagement serein et rapide.</p>
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="media bloc">
          <div class="pull-center marg-bottom center">
            <i class="fa fa-codepen icon-medium" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Des professionnels du transport de marchandises à votre service</h4>
            <p>En vous rapprochant de Demyfil Déménagements pour le transport de vos marchandises, vous choisissez la
              sécurité, l’efficacité et bien entendu la qualité. Le transport avec Demyfil, c’est une flotte de
              véhicules parfaitement entretenue et une équipe qualifiée, pour assurer efficacement le transport de vos
              marchandises.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<!--/Services-->

<section id="clients" class="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span2 client">
        <div class="clearfix">
          <h4 class="pull-left">Nos clients</h4>
          <div class="pull-right">
            <a class="prev" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a class="next" href="#myCarousel" data-slide="next"><i class="fa fa-angle-right"
                aria-hidden="true"></i></a>
          </div>
        </div>
        <p>Ils nous ont fait confiance et ils ont été satisfait.<br />Ce sont devenus des clients fidèles.</p>
      </div>
      <div class="span10">
        <div id="myCarousel" class="carousel slide clients">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="row-fluid">
                <ul class="thumbnails">
                  <li class="span3 turn"><a href="#"><img src="images/sample/clients/client5.png"></a></li>
                  <li class="span3 turn"><a href="#"><img src="images/sample/clients/client2.png"></a></li>
                  <li class="span3 turn"><a href="#"><img src="images/sample/clients/client3.png"></a></li>
                  <li class="span3 turn"><a href="#"><img src="images/sample/clients/client1.png"></a></li>
                  <!--<li class="span3 turn"><a href="#"><img src="images/sample/clients/client4.png"></a></li>-->
                </ul>
              </div>
            </div>
          </div>
          <!-- /Carousel items -->

        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-info">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <h4>Vous souhaitez une estimation pour votre déménagement ?</h4>
        <p class="no-margin pad">Demander une estimation gratuite pour votre déménagement par téléphone au
          01.76.54.47.58 ou via notre formulaire en cliquant sur le lien.</p>
      </div>
      <div class="span3">
        <a class="btn btn-success btn-large pull-right" style="background-color:#d6446b" href="devis.php">Demander un
          devis</a>
      </div>
    </div>
  </div>
</section>
