<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>La société</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">La société</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->

<section class="about">
  <h2>A propos de nous</h2>
  <p>Demyfil Déménagements est une société spécialisé dans le transfert d'entreprise et le déménagement de particulier.
    <br>Nous avons un matériel adapté et moderne afin de répondre à vos besoins.</p>
</section>

<section class="about-service">
  <h2>Nos services</h2>
  <p>Déménagement pour les particuliers sur toute la France, laissez agir des professionnels expérimentés pour la
    gestion de l'ensemble de votre déménagement. Nous fournissons tous les conseils utiles pour faciliter votre
    déménagement.</p>
  <p>Transfert d'entreprises sur toute la France, notre objectif est de fournir le niveau de service le plus élevé tout
    au long de votre déménagement. Nous accélérons le processus global afin de gagner du temps et permettre à vos
    salariés de reprendre le travail rapidement.</p>
  <p>Transport de marchandises sur toute la France, avec notre flotte de véhicule, nous vous garantissons un transport
    en toute sécurité.</p>
  <div class="gap"></div>
  <div class="row-fluid">
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-exchange icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Demyfil<br>Transfert</h4>
          <a class="btn-readmore" href="transfert.php">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-users icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Déménagement<br>de particuliers</h4>
          <a class="btn-readmore" href="demenagement.php">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-truck icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Demyfil<br>Transport</h4>
          <a class="btn-readmore" href="transport.php">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-archive icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Demyfil<br>Garde-meuble</h4>
          <a class="btn-readmore" href="stockage.php">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-flotte">
  <h2>Une flotte de véhicule complète</h2>
  <p>Avec une gamme de véhicule professionnel complète (poids lourds, camion 20m3, fourgonnettes et monte-meuble) nous
    disposons assurément du matériel nécessaire pour assurer le transport de vos biens en toute sécurité. Tous nos
    véhicules sont correctement entretenus et équipé de hayon. </p>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/flotte/9m3.jpg" alt="">
      <p class="truck">Camion 9m3</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/20m3.jpg" alt="">
      <p class="truck">Camion 20m3</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/40m3.jpg" alt="">
      <p class="truck">Camion 40m3</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/50m3.jpg" alt="">
      <p class="truck">Camion 50m3</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <img src="assets/images/flotte/pickup.jpg" alt="">
      <p class="truck">Pickup</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/monte-meuble.jpg" style="width: 240px" alt="">
      <p class="truck">Monte-meuble 30m</p>
    </div>
    <div class="span4">
      <img src="assets/images/flotte/hayon.jpg" style="width: 364px" alt="">
      <p class="truck">Tous nos camions sont capitonnés avec barres d’attaches</p>
    </div>
  </div>
</section>

<section class="about-engagement">
  <div class="row-fluid">
    <div class="span8">
      <h2>Nos engagements</h2>
      <p>Demyfil Déménagement s'engage à mettre du personnel spécialisé et qualifié, de vous apporter des véhicules
        propres et équipés, de vous livrer tous les cartons ainsi que les adhésifs nécessaires pour votre préparation et
        de respecter notre engagement (contrat, jour, date, horaire).</p>
    </div>
    <div class="span4">
      <img src="assets/images/societe/1.jpg" alt="">
    </div>
  </div>
</section>
