<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Qui sommes-nous</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Qui sommes-nous</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->

<section class="transport">
  <div class="row-fluid">
    <div class="span12">
      <h2>Qui sommes-nous</h2>

      <div class="span6">
        <p>
          Basée à EAUBONNE (95330), DEMYFIL est spécialisée dans le transfert d’entreprises<br>
          - Transfert-administratifs<br>
          - Transferts industriels<br>
          et le déménagement de particuliers.
        </p>

        <p>
          Créée en 2013, DEMYFIL n’a cessé de croître, disposant<br>
          - d’une flotte de véhicules adaptés allant de 20 à 50m3, équipés et aménagés.<br>
          - d ‘un outillage moderne et renouvelé.<br>
          - une équipe de professionnel formé et qualité
        </p>
      </div>
      <div class="span5">
        <img src="assets/images/societe/2.png">
      </div>
      <div class="span12">
        <p>
          Nous sommes une entreprise à taille humaine,<br>
          Que vous soyez un grand groupe, une PME, ou un particulier, DEMYFIL, met en place des processus adaptés et une prestation, à la hauteur de vos exigences.<br>
          Notre capacité est de réagir et de répondre à toutes les urgences de nos clients
        </p>

        <p>
          Nous mettons au service de nos clients<br>
          -	Une expertise<br>
          -	Des processus rigoureux<br>
          -	Des compétences<br>
          -	Des valeurs humaines
          </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="about-service">
  <h2>Nos services</h2>
  <p>Déménagement pour les particuliers sur toute la France, laissez agir des professionnels expérimentés pour la
    gestion de l'ensemble de votre déménagement. Nous fournissons tous les conseils utiles pour faciliter votre
    déménagement.</p>
  <p>Transfert d'entreprises sur toute la France, notre objectif est de fournir le niveau de service le plus élevé tout
    au long de votre déménagement. Nous accélérons le processus global afin de gagner du temps et permettre à vos
    salariés de reprendre le travail rapidement.</p>
  <p>Transport de marchandises sur toute la France, avec notre flotte de véhicule, nous vous garantissons un transport
    en toute sécurité.</p>
  <div class="gap"></div>
  <div class="row-fluid">
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-exchange icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Demyfil<br>Transfert</h4>
          <a class="btn-readmore" routerLink="/transferts">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-users icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Déménagement<br>de particuliers</h4>
          <a class="btn-readmore" routerLink="/particuliers">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-truck icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Demyfil<br>Transport</h4>
          <a class="btn-readmore" routerLink="/transports">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="media">
        <div class="pull-center marg-bottom center">
          <i class="fa fa-archive icon-medium" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Demyfil<br>Garde-meuble</h4>
          <a class="btn-readmore" routerLink="/garde-meuble">- EN SAVOIR PLUS -</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="about-flotte">
  <h2>Notre flotte de véhicules</h2>
  <p class="text-center">Avec une gamme... </p>
  <div class="row-fluid">
    <div class="span3">
      <img src="assets/images/flotte/9m3.jpg" alt="">
      <p class="truck">Camion 9m3</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/20m3.jpg" alt="">
      <p class="truck">Camion 20m3</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/40m3.jpg" alt="">
      <p class="truck">Camion 40m3</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/50m3.jpg" alt="">
      <p class="truck">Camion 50m3</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <img src="assets/images/flotte/pickup.jpg" alt="">
      <p class="truck">Pickup</p>
    </div>
    <div class="span3">
      <img src="assets/images/flotte/monte-meuble.jpg" style="width: 240px" alt="">
      <p class="truck">Monte-meuble 30m</p>
    </div>
    <div class="span4">
      <img src="assets/images/flotte/hayon.jpg" style="width: 364px" alt="">
      <p class="truck">Tous nos camions sont capitonnés avec barres d’attaches</p>
    </div>
  </div>
</section>

<section class="about-engagement">
  <div class="row-fluid">
    <div class="span8">
      <h2>Nos engagements</h2>
      <p>
        Une qualité de service<br>
        Un respect de vos contraintes et horaires<br>
        -	Une expertise<br>
        -	Des processus rigoureux<br>
        -	Des compétences<br>
        -	Des valeurs humaines
      </p>
    </div>
    <div class="span4">
      <img src="assets/images/societe/1.jpg" alt="">
    </div>
  </div>
</section>

<section class="no-margin">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2617.363716387139!2d2.2763903156795373!3d49.003664979302016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e667e5e2a03721%3A0x9deb021361c6550!2s8%20Rue%20Louis%20Armand%2C%2095600%20Eaubonne!5e0!3m2!1sfr!2sfr!4v1579554463319!5m2!1sfr!2sfr"
    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
