<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Demyfil garde-meuble</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Demyfil garde-meuble</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->


<section class="garde">
  <div class="row-fluid">
    <h2>Vous avez besoin de stocker du matériel ?</h2>
    <p>Les déménageurs y empilent vos cartons et votre mobilier dans un container scellé.</p>
    <p>Vos affaires restent sous bonne garde mais inaccessibles. Si vous avez besoin de récupérer un meuble, un dossier
      d’archives ou des produits stockés, vous devez nous contacter et prendre rendez-vous. Cela implique éventuellement
      des frais supplémentaires.</p>
    <p>Vous êtes liés par un contrat à durée déterminée.</p>
    <p>Notre but vous satisfaire et vous apporter le meilleur confort dans une période de transit.</p>
  </div>
</section>

<section class="garde-slog">
  <h2>Vos affaires restent sous bonne garde.</h2>
</section>


<section class="main-info">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <h4>Vous souhaitez une estimation pour un service de garde-meuble ?</h4>
        <p class="no-margin pad">Demander une estimation gratuite par téléphone au 01 76 54 47 58 ou via notre
          formulaire en cliquant sur le lien.</p>
      </div>
      <div class="span3">
        <a class="btn btn-success btn-large pull-right" style="background-color:#d6446b" routerLink="/devis">Demander un
          devis</a>
      </div>
    </div>
  </div>
</section>
