<section class="title">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h1>Qualité</h1>
      </div>
      <div class="span6">
        <ul class="breadcrumb pull-right">
          <li><a routerLink="/">Accueil</a> <span class="divider">/</span></li>
          <li class="active">Qualité</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / .title -->


<section class="qualite">
  <h2>Suivi qualité</h2>
  <p>Soucieux de vous satisfaire, nous mettons à votre disposition un questionnaire qualité qui contribuera à
    l'amélioration de nos services et à l'intégration de vos besoins.</p>
  <a href="assets/resource/questionnairequalitev1.pdf" download="qualite-demyfil.pdf"><i class="fa fa-download"
      aria-hidden="true"></i> Téléchargez</a>
</section>
